
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a,
address, em, img, small, b, u, i, dl, dt, dd, ol, ul, li,
article, aside, figure, figcaption, footer, header, menu, nav {
    margin: 0; padding: 0;  border: 0; vertical-align: baseline; }
*, *:before, *:after {box-sizing: border-box;}

ol, ul {list-style: none;}
address {font-style: normal;}
html {scroll-behavior: smooth;}
a { text-decoration: none; cursor: pointer; }


img {display: block; width: 100%;}


:root { 
    --clr-pri: hsla(60, 70%, 70%, 1);
	--clr-sec: hsla(180, 60%, 70%, 1);
	--clr-ter: hsla(110, 60%, 60%, 1);
    --tint-pri: hsla(60, 30%, 70%, 1);
	--tint-sec: hsla(180, 30%, 70%, 1);
	--tint-ter: hsla(110, 30%, 60%, 1);
    --red: rgb(236, 9, 9);
    --black:  hsl(0, 0%, 0%);
    --offblack:  hsl(0, 0%, 6%);
    --darkgrey: hsl(0, 0%, 30%);
    --grey: hsl(0, 0%, 50%);
    --lightgrey: hsl(0, 0%, 80%);
    --offwhite: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    
    --accent: var(--clr-sec);

    --txt-pri: 'Raleway', sans-serif;
    --txt-sec: 'Raleway', sans-serif;
    --txt-ter: 'Raleway', sans-serif;

    /* https://www.fluid-type-scale.com */
    --txt-xxs: clamp(0.75rem, -0.25vw + 0.81rem, 0.61rem);
    --txt-xs: clamp(0.83rem, -0.16vw + 0.87rem, 0.74rem);
    --txt-sm: clamp(0.91rem, -0.04vw + 0.92rem, 0.89rem);
    --txt-base: clamp(1rem, 0.11vw + 0.97rem, 1.06rem);
    --txt-md: clamp(1.1rem, 0.32vw + 1.02rem, 1.27rem);
    --txt-lg: clamp(1.21rem, 0.58vw + 1.06rem, 1.53rem);
    --txt-xl: clamp(1.33rem, 0.92vw + 1.1rem, 1.84rem);
    --txt-xxl: clamp(1.46rem, 1.34vw + 1.13rem, 2.2rem);
    --txt-xxxl: clamp(1.61rem, 1.88vw + 1.14rem, 2.64rem);
    
    --txt-light: 200;
    --txt-normal: 400;
    --txt-medium: 600;
    --txt-bold: 700;

    --txt-spacing-sm: .02em;
    --txt-spacing-base: .03em;
    --txt-spacing-lg: .05em;

    --txt-height-xs: 1;
    --txt-height-sm: 1.25;
    --txt-height-base: 1.5;
    --txt-height-lg: 1.5;
    --txt-height-xl: 1.75;

    --bor-radius-xs: 50%;  
    --bor-radius-sm: .25rem;
    --bor-radius-base: .5rem; 
    --bor-radius-lg: .75rem;   
    --bor-radius-xl: 1.5rem;

    --bor-width-xs:  1px;
    --bor-width-sm: 2px;
    --bor-width-base: 2px;
    --bor-width-lg: 3px;
    --bor-width-xl: 4px;

    --space-xxs: .25rem;
    --space-xs: .5rem;
    --space-sm: .75rem;
    --space-base: 1rem; 
    --space-lg: 1.5rem;      
    --space-xl: 2rem;
    --space-xxl: 3rem;


    /* Utility */
    --nav-height: 2rem;
    --page-padding: 2rem;           
}

/* dark Mode --------------------------------------*/

html[data-theme='light'] {
    --dm-black: var(--black);
    --dm-grey: var(--grey);
    --dm-white: var(--white);
    --dm-black-hover: var(--grey);
    --dm-white-hover: var(--black);
    --dm-grey-hover: var(--white);
    --dm-offwhite: var(--offwhite);
    --dm-offblack: var(--offblack);
}

html[data-theme='dark'] {
    --dm-black: var(--white);
    --dm-grey: var(--grey);
    --dm-white: var(--black);
    --dm-black-hover: var(--grey);
    --dm-white-hover: var(--grey);
    --dm-grey-hover: var(--black);
    --dm-offwhite: var(--offblack);
    --dm-offblack: var(--offwhite);
}

[data-theme='light'] .theme-icon-light,
[data-theme='dark'] .theme-icon-dark {
    display: block !important;
}



/* Typography -----------------------------------------*/

html, body ,h1, h2, h3, h4, h5, h6, p {
    font-family: var(--txt-pri);
    font-size: var(--txt-base);
    line-height: var(--txt-height-base);
    font-weight: var(--txt-normal);
    letter-spacing: var(--txt-spacing-base);
  }

.text-xxs, .link-xxs {
    font-size: var(--txt-xxs);
    line-height: var(--txt-height-sm);
    letter-spacing:var(--txt-spacing-lg);
    max-width: 80ch;
}

.text-xs, .link-xs {
    font-size: var(--txt-xs);
    line-height: var(--txt-height-sm);
    letter-spacing:var(--txt-spacing-lg);
    max-width: 80ch;
}

.text-sm, .link-sm, .heading-xs {
    font-size: var(--txt-sm);
    line-height: var(--txt-height-sm);
    letter-spacing: var(--txt-spacing-lg);
    max-width: 80ch;
}

.text, .link, .heading-sm  {
    font-size: var(--txt-base);
    line-height: var(--txt-height-base);
    letter-spacing: var(--txt-spacing-base);
    max-width: 80ch;

}

.text-lg, .link-lg, .heading {
    font-size: var(--txt-lg);
    line-height: var(--txt-height-base);
    letter-spacing: var(--txt-spacing-base);
    max-width: 80ch;
}

.text-xl, .link-xl, .heading-lg {
    font-size: var(--txt-xl);
    line-height: var(--txt-height-base);
    letter-spacing: var(--txt-spacing-base);
    max-width: 80ch;
}

.text-xxl, .link-xxl, .heading-xl {
    font-size: var(--txt-xxl);
    line-height: var(--txt-height-lg);
    letter-spacing: var(--txt-spacing-sm);
    max-width: 80ch;
}

.heading-xs, .heading-sm, .heading, .heading-lg, .heading-xl, .heading-xxl { 
    font-weight: var(--txt-bold);
}

.link-xs, .link-sm, .link, .link-lg, .link-xl, .link-xxl  {
    font-weight: var(--txt-bold);
    transition: opacity .5s ease;
}

.link-xs:hover, .link-sm:hover, .link:hover, .link-lg:hover, .link-xl:hover, .link-xxl:hover  {
    opacity: .4;
}

.caption {
    font-size: var(--txt-xxs);
    font-weight: var(--txt-bold);
    letter-spacing: var(--txt-spacing-lg);
    line-height: var(--txt-height-base);    
}


