
/* Useful -------------------------------------------*/

.box,.box-1,.box-2,.box-2 {
    width: 10rem;
    height: 10rem;
    background-color: var(--clr-sec);
}

.box-1 {background-color: var(--clr-pri);}
.box-2 {background-color: var(--clr-sec);}
.box-3 {background-color: var(--clr-ter);}





/* Btn ----------------------------------------------*/





/* Icon ----------------------------------------------*/


