/* Helper ----------------------------------------*/

.display-none {
    display: none !important;
}

.sticky {
    position: sticky;
    top: 0;
}


/* Wrap ------------------------------------------*/

.wrap-flush,
.wrap,
.wrap-md {
    padding: 0 var(--page-padding);
    margin: 0 auto;
}

.wrap {
    max-width: 1400px;
}

.wrap-md {
    max-width: 800px;
}

body {
    background: var(--dm-white);
}


/* Header ---------------------------------------*/

.header {
    position: fixed;
    height: var(--nav-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--dm-grey);
}

e .header__inner {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
}


/* Nav ------------------------------------------*/

.nav {
    height: var(--nav-height);
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--dm-black);
}

.nav__links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__link {
    color: var(--dm-white);
}

.logo-circle {
    height: var(--nav-height);
    width: var(--nav-height);
    background: var(--clr-pri);
    border-radius: 50vw;

}


/* main ----------------------------------------*/
.main {
    height: 100%;
    margin-top: var(--nav-height);
}

.main--stylesguide {
    margin-top: calc(var(--nav-height) * -1);
    display: flex;
    gap: 2rem;
}



/* Footer --------------------------------------*/

.footer {
    height: var(--nav-height);
    position: Fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dm-black);
    background: red;
}

.footer__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    background-color: var(--clr-pri);
}

.footer__links {
    display: flex;
    gap: .5rem;
}



/* Page - Style Guide --------------------------*/

.stylesguide__link:first-of-type {
    border-top: solid 1px var(--dm-black);
    padding-top: 1rem;
}

.stylesguide__link {
    color: var(--dm-black);
}

.stylesguide__header {
    position: relative;
    height: 9rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--dm-black);
}

.stylesguide__header .heading {
    position: absolute;
}

.stylesguide__nav {
    padding-top: 9rem;
    min-width: 9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stylesguide__link:first-of-type {
    padding-top: 1.3rem;

}

.stylesguide__content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 20rem;
}

.stylesguide__section {
    color: var(--dm-black);
    display: flex;
    flex-direction: column;   
    gap: 2rem;
}

.stylesguide__section:first-of-type {
    padding-top: 0rem;

}

.stylesguide__heading {
    border-top: solid 1px var(--dm-black);
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
}

.stylesguide__example {
    margin-top: var(--test);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: var(--test);
}

.stylesguide__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 3rem;
}

.stylesguide__grid--md {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.stylesguide__grid--sm {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.stylesguide--typeface-A {font-family: var(--txt-pri);}
.stylesguide--typeface-B {font-family: var(--txt-sec);}
.stylesguide--typeface-C {font-family: var(--txt-ter);}
.stylesguide--typeface-D {font-family: var(--txt-pri);}
.stylesguide--typeface-E {font-family: var(--txt-sec);}
.stylesguide--typeface-F {font-family: var(--txt-ter);}

.stylesguide__swatch {
    min-height: 6rem;
}
.stylesguide--swatch-1 {background: var(--clr-pri);}
.stylesguide--swatch-2 {background: var(--clr-sec);}
.stylesguide--swatch-3 {background: var(--clr-ter);}
.stylesguide--swatch-4 {background: var(--tint-pri);}
.stylesguide--swatch-5 {background: var(--tint-sec);}
.stylesguide--swatch-6 {background: var(--tint-ter);}
.stylesguide--swatch-7 {background: var(--black); outline: white .5px solid;}
.stylesguide--swatch-8 {background: var(--darkgrey);}
.stylesguide--swatch-9 {background: var(--grey);}
.stylesguide--swatch-10 {background: var(--offwhite);}
.stylesguide--swatch-11 {background: var(--white); outline: black .5px solid;}


@media only screen and (max-width: 900px) {
    .stylesguide__nav {
        display: none;
    }

    .main--stylesguide {
        gap: 0;
    }
  }