#tofBurger {
   width: var(--nav-height);
   height: var(--nav-height);
   z-index: 2;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   right: 0;
   z-index: 1000;
   background: var(--dm-black);
   transform: rotate(0deg);
   transition: 0.5s ease-in-out;
   cursor: pointer;
}

#tofBurger span {
   position: absolute;
   height: 3px;
   width: 100%;
   left: 0;
   opacity: 1;
   background: var(--dm-white);
   transform: rotate(0deg);
   transition: 0.25s ease-in-out;

}

#tofBurger span:nth-child(1) {
   top: 10px;
}

#tofBurger span:nth-child(2),
#tofBurger span:nth-child(3) {
   top: 23px;
}

#tofBurger.open span:nth-child(1) {
   top: 28px;
   width: 0%;
   left: 50%;
}

#tofBurger.open span:nth-child(2) {
   transform: rotate(42deg);
   width: 185%;
   top: 40%;
   left: -46%;
}

#tofBurger.open span:nth-child(3) {
   transform: rotate(-42deg);
   width: 185%;
   top: 40%;
   left: -38%;
}

.tof-navtray {
   height: 100%;
   width: 0;
   right: 0;
   position: fixed;
   top: var(--nav-height);
   overflow-x: hidden;
   background: var(--dm-black);
   z-index: 0;
   transition: 0.5s;
}

.tof-navtray__inner {
   width: 100%;
   padding: 2rem;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.tof-navtray__link {
   color: var(--dm-white);
}

#tofSidenav {
   right: 0;
   position: relative;
   transition: right .5s ease-out;
}

#tofNavtray.open {
   width: 250px;
   transition: 0.5s;
}

#tofNavtray.open~#tofSidenav {
   right: 250px;
   transition: right 0.5s;
}